<p style = "color: aquamarine;"></p>
<div id="form" > 
  <input type="text" id="text" placeholder="" [(ngModel)]="text" (ngModelChange)="getResult(text)">
</div>
<label>Автор: </label>
<input type="text" class="form-control" [(ngModel)]="AuthorName" />
<label> Название: </label>
<input type="text" class="form-control" [(ngModel)]="BookName" />
<label> Стоимость: </label>
<input type="text" class="form-control" [(ngModel)]="Price" />
<p style = "color: aquamarine;"></p>
<button [disabled] type="submit" class="btn btn-lg btn-block btn-info" (click)="SendMessage()">Сообщение</button>
<button class="bttn add" (click)="addBook()">Добавить</button>
<table class="list-group">
  <tr class="list-group-item" *ngFor="let books of arrayOfBook">
    <td class="AuthorName">
      <h6>{{ books.AuthorName }}</h6>
    </td>
    <td class="BookName">
      <h6>{{ books.BookName }}</h6>
    </td>
    <td class="Price">
      <h6>{{ books.Price }}</h6>
    </td>
    <td class="ChangeBook">
      <h6><button class="bttn chng" (click)="setNewYear(books)">Изменить</button></h6>
    </td>
    <td class="SaveBook">
      <h6><button class="bttn chng" (click)="setNewBook(books)">Сохранить</button></h6>
    </td>
    <td class="DelBook">
      <h6><button class="bttn del" (click)="delBook(books.BookId)">Удалить</button></h6>
    </td>
  </tr>
</table>
