<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Книжный магазин</title>
    </head>
        <nav>
            <ul>
                <li><a routerLink="/landing">Главная</a></li>
                <li><a routerLink="/bookslist">Книги</a></li>
                <li><a routerLink="/price">Цены</a></li>
                <li><a routerLink="/comments">Отзывы</a></li>
                <li><a routerLink="/contacts">Контакты</a></li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
    
</html>