<html lang="ru">

<header>
    <meta charset="utf-8">
    <title>Библиотека</title>
</header>

<body>
    <nav>
        <ul>
            <li><a routerLink="/home">Главная </a></li>
            <li><a routerLink="/bookslist">Книги </a></li>
            <li><a routerLink="/comments">Отзывы </a></li>
            <li><a routerLink="/contacts">Контакты </a></li>
            <li><a routerLink="/price">Цены </a></li>  
            <li><a (click)="Logout()" ng-show="[AuthGuard]"> Вход/Выход </a></li>
        </ul>
    </nav>
    <div class="clear"></div>
    <router-outlet></router-outlet>
</body>

</html>